<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>

        </header>

        <content>
            <h1 class="h1"><%= message %></h1>
            <h2 class="h2"><%= error.status %></h2>
        </content>
        <footer>
            <%- include ('./layout/footer') %>
        </footer>

    </body>
</html>